{% extends 'base.html' %}

{% block content %}

<!-- products.html -->
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{{ url_for('product_bp.products', id=product.id) }}">{{ product.product_name }}</a></td>
                <td>{{ product.product_category }}</td>
                <td>{{ product.unit_price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a href="{{ url_for('product_bp.edit_products', id=product.id) }}" class="btn btn-primary btn-sm" style="margin-right: 1.5rem;">Edit</a>
                    <a href="{{ url_for('product_bp.delete_products', id=product.id) }}" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteProductModal">Delete</a>   
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>



{% endblock %}