{% extends 'base.html' %}

{% block content %}

<div class="card mt-5">
    <div class="card-title bg-dark text-light">
        <div class="title-block text-center">
            {{ title }}
        </div>
    </div>
    <div class="card-body">
        <h5 class="text-center">Product: {{ product.product_name }}</h5>
        <h5 class="text-center">Qunatity: {{ products_purchase.quantity }}</h5>
    </div>
    <a href="{{ url_for('purchase_bp.edit_purchase_order', id=products_purchase.id)}}" class="btn btn-primary btn-sm" style="margin-right: 1.5rem;">Edit</a>
</div>
 


{% endblock %}