{% extends 'base.html' %}

{% block content %}

<!-- purchase list table -->

<div class="container">
<div class="table-responsive">	
    <table class="table table-striped">
	<thead>
	    <tr>
		<th>PO ID</th>
		<th>Date</th>
		<th>Created By</th>
		<th>Supplier</th>
		<th>Status</th>	
	    </tr>		
	</thead>	
	<tbody>
		{% for po in purchase_orders %}			
		<tr>
		    <td><a href="">{{ po.id }}</a></td>
		    <td>{{ po.order_date }}</td>			
		    <td>{{ po.created_by }}</td>		
		    <td>{{ po.supplier }}</td>
		    <td>{{ po.status }}</td>
		    <td>
			<a href="{{ url_for('purchase_bp.product_purchase_order', id=po.id)}}" class="btn btn-primary btn-sm" style="margin-right: 1.5rem;">Detail</a>	
		    </td>
		
		</tr>
		{% endfor %}	
	</tbody>
			
    </table>
</div>
</div>

{% endblock %}
