<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %} - Inventory</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body class="text-center">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="{{ url_for('index')}}">Simplify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% if current_user.is_authenticated %}
            {% if current_user.role == 'admin' %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('users_bp.users_list') }}">Users List</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('users_bp.add_user') }}">Add User</a></li>
            {% endif %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('users_bp.account') }}">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('users_bp.logout') }}">Sign Out</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('users_bp.login') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      {% if current_user.is_authenticated %}
      <div class="col-md-2 sidebar">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_bp.products_list') }}">List Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('product_bp.add_product') }}">Create Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('purchase_bp.purchase_list') }}">Purchase Order List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('purchase_bp.create_purchase_order') }}">New Purchase Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('issue_bp.index') }}">Issue Orders List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('issue_bp.index') }}">New Issue Orders</a>
          </li>
        </ul>
      </div>
      {% endif %}

      <div class="col-md-10 main-content">
        <div class="content">
          <hr>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <span>&copy; 2023</span>
    </div>
  </div>
  
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
				
</body>

</html>
