{% extends 'base.html' %}


        {% block content %}
        <div class="container">
            <h3>Welcome to the Hotel Inventory Management System!</h3>
            <p>Streamline and simplify your hotel inventory management with our user-friendly application. Easily track products, manage orders, and maintain accurate stock levels.</p>         

            <h3>Key Features:</h3>
            <ul>
                <li>Product Management: Easily create, edit, and delete products in your inventory. Keep track of important details such as product name, description, quantity, and pricing.</li>
                <li>Order Management: Create purchase orders and issue orders effortlessly. Manage the flow of products in and out of your inventory, ensuring accurate stock levels and timely deliveries.</li>
                <li>User Authentication: Secure your data with our robust user authentication system. Control access to sensitive features based on user roles, ensuring that only authorized personnel can perform certain actions.</li>
                <li>Role-Based Access Control: Assign different roles to users, such as administrators and staff members. Customize permissions and restrict access to specific functionalities based on user roles, maintaining data integrity and security.</li>
            </ul>

            <p>exploring the features and take control of your hotel inventory today!</p> 

            <p>Thank you for choosing our Hotel Inventory Management System!</p>    
        </div>
                    
{% endblock %}


